production:
  <% if !@redis_enable_client %>
  id:
  <% end %>
  <% if defined?(@cluster_nodes) && !@cluster_nodes.empty? %>
  <%- if @cluster_username %>username: <%= @cluster_username %><% end %>
  <%- if @cluster_password %>password: <%= @cluster_password %><% end %>
  cluster:
    <% @cluster_nodes.each do |node| %>
    -
      host: <%= node['host'] %>
      port: <%= node['port'] %>
    <% end %>
  <% else %>
  url: <%= @redis_url %>
  <%- if @redis_ssl %>
  ssl_params:
    <%- if @redis_tls_ca_cert_dir %>ca_path: "<%= @redis_tls_ca_cert_dir %>"<% end %>
    <%- if @redis_tls_ca_cert_file %>ca_file: "<%= @redis_tls_ca_cert_file %>"<% end %>
    <%- if @redis_tls_client_cert_file %>cert_file: "<%= @redis_tls_client_cert_file %>"<% end %>
    <%- if @redis_tls_client_key_file %>key_file: "<%= @redis_tls_client_key_file %>"<% end %>
  <% end %>
  <% unless @redis_sentinels.empty? %>
  sentinels:
    <% @redis_sentinels.each do |sentinel| %>
    -
      host: <%= sentinel['host'] %>
      port: <%= sentinel['port'] %>
      <%- if @redis_sentinels_password %>password: "<%= @redis_sentinels_password %>"<% end %>
    <% end %>
  <% end %>
  <% end %>
